@import 'custom-bootstrap';
@import 'variables';

img {
  max-width: 100%;
  height: auto;
}

body {
  overflow-x: hidden;
}

a {
  color: inherit;
  transition: $default-transition-time color;
}

a:hover {
  color: $c-main;
  text-decoration: none;
}

/**
 * Rewrite plugins
 */
  .slick-list {
    overflow: visible;
  }
  .slick-initialized {
    .slick-slide {
      transition: $default-transition-time opacity;
      opacity: 0.1;
      &.slick-active {
        opacity: 1;
      }
    }
  }
